<div>
  <div uib-carousel active = "active" interval="myInteval" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in slides" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h2>{{slide.title}}</h2>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>
</div>

<div class="nuestra-propuesta">
  <h1>Bienvenido a Vida Sana</h1>
  <p>Este es un ejemplo de como podemos usar Angular JS con Angular UI y Bootstrap
    para construir rápidamente un prototipo funcional que puede ser mostrado a los clientes.
  </p>

  <div class="row-fluid">
    <div class="col-md-4" ng-repeat="block in contenido">
      <img class="img-circle" ng-src="{{block.img}}">
      <h3>{{block.title}}</h3>
      <p>{{block.summary}}</p>
    </div>
  </div>
</div>